# Dependencies
node_modules/

# Env
.env
.env.local

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision

# Backend
backend/dist/
backend/build/

# Logs
npm-debug.log*
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

TODO.md
