# Dependencies
node_modules/

# Env
.env
.env.local
.env.test


# Backend
backend/dist/
backend/build/

# Logs
npm-debug.log*
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

TODO.md

# Local planning documents
/plans/
